# This is the backend API URL that will be used in server-side code. It should not be prefixed with NEXT_PUBLIC_ to keep it private and secure.
BACKEND_API_URL=Your backend API URL here

# This is the public API URL that will be exposed to the client-side code. It should be prefixed with NEXT_PUBLIC_ to make it accessible in the browser.
NEXT_PUBLIC_BACKEND_API_URL=Your public backend API URL here

JWT_ACCESS_SECRET=Your access token secret here
JWT_REFRESH_SECRET=Your refresh token secret here